<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | escape }}">
  <meta name="keywords" content="{{ page.keywords | default: site.keywords | escape }}">
  <meta name="author" content="{{ site.author.name | escape }}">
  <link href="https://gmpg.org/xfn/11" rel="profile">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="canonical" href="{{ page.url | absolute_url }}">

  <meta property="og:site_name" content="{{ site.title | escape }}">
  <meta property="og:title" content="{{ page.title | default: site.title | escape }}">
  <meta property="og:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">

  <link rel="stylesheet" href="{{ 'public/css/site.css' | relative_url }}">

  <link rel="shortcut icon" href="{{ 'public/favicon.ico' | relative_url }}">
</head>
