<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdrobust/">rdrobust</a>
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdlocrand/">rdlocrand</a>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rddensity/">rddensity</a> 
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdmulti/">rdmulti</a>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdpower/">rdpower</a>
    </nav>

  </div>
</div>
