<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <br>
    </div>

	
    <nav class="sidebar-nav">
	  <hr class="border-top: 1px solid #8c8b8b;">
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdrobust/">rdrobust</a>
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdlocrand/">rdlocrand</a>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rddensity/">rddensity</a> 
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdmulti/">rdmulti</a>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdpower/">rdpower</a>
	  <hr class="border-top: 1px solid #8c8b8b;">
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/replication/">Replication</a>
	  <hr class="border-top: 1px solid #8c8b8b;">
      <a class="sidebar-nav-item" href="https://nppackages.github.io">NP Packages</a>
	  <hr class="border-top: 1px solid #8c8b8b;">
    </nav>

  </div>
</div>
