<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <br>
    </div>

	
    <nav class="sidebar-nav">
	  <hr>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdrobust/">rdrobust</a>
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdhte/">rdhte</a>
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdlocrand/">rdlocrand</a>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rddensity/">rddensity</a> 
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdpower/">rdpower</a>
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rd2d/">rd2d</a>
	  <a class="sidebar-nav-item" href="https://rdpackages.github.io/rdmulti/">rdmulti</a>
	  <hr>
      <a class="sidebar-nav-item" href="https://rdpackages.github.io/replication/">Replication</a>
	  <hr>
      <a class="sidebar-nav-item" href="https://nppackages.github.io">NP Packages</a>
	  <hr>
    </nav>

  </div>
</div>
